/* Here is your custom css styles. */
@font-face{
    font-family: 'myFont';
    src: url('../font/myFont.ttf');
}

body{
    font-family: 'myFont';
}
/*美化超链接*/
.dt-p {
    background-color: white;
    border: 1px solid #333;
    border-radius: 45px;
    width: auto;
    height: auto;
    padding: 9px 45px 9px 45px;
    text-align: center;
    display: inline; /后面无换行，宽度随内容变化/
    }
/*加密相册*/
    .hbe-input-container  .btn-decrypt{
        display: inline-block;
        vertical-align: top;
        width: 120px;
        height: 32px;
        line-height: 32px;
        font-size: 16px;
        color: #ffffff;
        background-color: #3f90ff;
        text-align: center;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }